*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

.logo-word {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  align-self: center;
  padding: 16px 0;
}
.logo-piece-up {
  color: #2e2f42;
}
.logo-piece-down {
  color: #f4f4fd;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.it-is-a-adres,
.navigation,
.navigation-list,
.address-list {
  display: flex;
  flex-direction: row;
}

.navigation {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navigation-list {
  gap: 40px;
  display: none;
}

.container-header {
  padding: 24px 0;
}

.address-list {
  gap: 40px;
  display: none;
}

.menu-button {
  background-color: transparent;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  border-radius: 4px;
  border: 1px solid #fcfcfc;
  padding: 0 16px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.48px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

input:focus {
  border-color: #4d5ae5;
}

textarea:focus {
  border-color: #4d5ae5;
}
/*Header*/

.it-is-header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
  padding: 0 15px;
}

.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/*Active page*/
.nav-link.current {
  color: #404bbf;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background: currentColor;
  bottom: -1px;
}
/*-Active page-*/

address {
  font-style: normal;
}
.contact {
  color: currentColor;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
  color: #404bbf;
}

.it-is-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/***********/

/*Main*/

.hero {
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_imagem.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  width: 288px;
  margin-bottom: 72px;
  padding: 0 66px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.topics {
  padding: 96px 0;
}

.icon-place {
  margin-bottom: 8px;
  padding: 24px 0;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  display: none;
}

.advantages-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  flex-direction: column;
}

.mini-topic {
  margin-bottom: 8px;
}

.advantages-topics {
  margin: 0;
  padding: 0;
  width: 288px;
}

.visually-hidden,
.team-text,
.portfolio {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.human-worker,
.name-thing {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.mini-topic {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
}

.exp-text,
.profesional,
.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.exp-text {
  font-weight: 500;
  line-height: 1.5;
}

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-text {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 72px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.human-worker {
  margin-bottom: 8px;
  text-align: center;
}
.profesional {
  text-align: center;
  margin-bottom: 8px;
}

.worker-text {
  padding: 32px 0;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-worker-link {
  width: 100%;
  height: 100%;
}

.social-media-worker-link {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-worker-link:focus,
.social-media-worker-link:hover {
  background-color: #404bbf;
}

.worker {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: 264px;
}

.icon-worker-media {
  fill: #f4f4fd;
}

.portfolio-page {
  padding: 96px 0;
}

.portfolio {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  width: 288px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text-together {
  border: 1px solid #e7e9fc;
  border-top: 0;
  background: #fff;
  padding: 32px 16px;
}

.name-thing {
  margin-bottom: 8px;
}

.box-for-overlay {
  position: relative;
  overflow: hidden;
}

.paragraf-for-overlay {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .paragraf-for-overlay {
  transform: translateY(0%);
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/******  *****/

/*Fotter*/
.this-is-footi {
  background-color: #2e2f42;
  padding: 96px 0;
}

.container.down-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.down-word {
  display: inline-block;
  margin-bottom: 16px;
}

.down-text {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 288px;
  margin-bottom: 72px;
}

.text-social {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  text-align: center;
}

.social-list.down-links {
  display: flex;
  gap: 16px;
  margin-bottom: 72px;
}

.social-media-worker-link.down-green {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-worker-link.down-green:focus,
.social-media-worker-link.down-green:hover {
  background-color: #31d0aa;
}

.input-with-but {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border-color: #fff;
  background-color: transparent;
  outline: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
}

.footer-input::placeholder {
  color: #fff;
}
.footer-input:focus {
  border-color: #4d5ae5;
}

.footer-but {
  min-width: 165px;
  height: 40px;

  color: #fff;
  /* font-family: Roboto; */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-but:hover,
.footer-but:focus {
  background-color: #404bbf;
}

.button-icon-plane {
  fill: #ffffff;
  margin-left: 16px;
}

/*viewport and form*/

/* MENU */
.menu-mobile {
  position: fixed;
  opacity: 0;
  visibility: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mobile.is-open {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 1;
  visibility: 1;

  z-index: 999;

  padding: 72px 24px 40px 16px;
}

.circle-for-menu {
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-nav-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
}

.menu-nav-item:first-child a {
  color: #404bbf;
}
.menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.menu-nav-item:last-child {
  margin-bottom: 168px;
}

.menu-contact-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.menu-contact-item:first-child {
  margin-bottom: 24px;
}

.menu-contact-item:first-child a {
  color: #404bbf;
}

.menu-contact-item:last-child {
  margin-bottom: 48px;
}

.menu-media {
  display: flex;
  justify-content: center;
  gap: 40px;
}
/*  */

.place-for-form {
  position: fixed;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.place-for-form.is-open {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
}

.form-leave {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  flex-direction: column;
  padding: 72px 16px 24px 16px;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.circle-for-cross {
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.circle-for-cross:hover,
.circle-for-cross:focus {
  background-color: #404bbf;
  border: none;
}

.cross {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.circle-for-cross:hover .cross,
.circle-for-cross:focus .cross {
  fill: #ffffff;
}

.leave-legend {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 256px;
  margin-bottom: 16px;
}

label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.input-in-form {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  color: #2e2f42;
  position: relative;
  display: block;
  width: 100%;
  height: 40px;

  padding-left: 38px;
}
/*  */
.label-for-form {
  display: block;
  margin-bottom: 4px;
}

.special-for {
  position: relative;
}

.div-for {
  position: relative;
  margin-bottom: 8px;
}

.div-for-area {
  margin-bottom: 16px;
  padding: 0;
}

.icons-input-for {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}

/*  */
/*  */

.input-in-form {
  height: 40px;
  width: 256px;
}
/*  */
.textarea-in-form {
  background-color: transparent;
  width: 100%;
  display: block;
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-in-form::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.check-n-text {
  display: flex;
  margin-bottom: 24px;
}

.form-text-privacy {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  display: flex;
}

.form-link-privacy {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}

.like-check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
}

.yes-icon {
  fill: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-priv:checked + .form-text-privacy .like-check {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.check-priv:checked + .form-text-privacy .like-check .yes-icon {
  fill: #f4f4fd;
}

.send-btn {
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
  background-color: #404bbf;
}

.icons-input-for {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-in-form:focus + .icons-input-for {
  fill: #4d5ae5;
}
/***********/
